body {
  font-family: Helvetica;
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-scene {
  background-color: yellow;
}

.right-scene {
  flex: 0 0 40%;
  background-color: red;
  overflow: scroll;
}

.checkbox {
color: white;
background-color: black;

}

.input-field {
color: white;
background-color: grey;
}
