body {
  font-family: Helvetica;
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-scene {
  background-color: yellow;
}

.right-scene {
  flex: 0 0 40%;
  background-color: red;
  overflow: scroll;
}

.checkbox {
color: white;
background-color: black;

}

.input-field {
color: white;
background-color: grey;
}


.buttons{
  border-radius:4px;
  cursor: pointer;

}
  #submit{
    background-color: green;
    padding: 8px;
  }
  #reset{
    background-color: red;
    padding: 8px;
  }

.container{
  display:flex;
  text-align: center;
  padding:0px;
  width: 100%;
  margin: 0px;
}

.input-field{
  margin: 8px;
  width: 100%;
  background-color: white;
  color: black;
}
p{
  margin-bottom: 0px;
}
